<div>
    <table class="table table-striped">
        <thead>
            <th>Title</th>
            <th>&nbsp;</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in items track by $index">
                <td ng-bind="item.getTitle()"></td>
                <td><a ui-sref="notes.details({ noteId: item.getId() })">View</a></td>
            </tr>
        </tbody>
    </table>
    <div notes-grid-paginator pages="pageRange" currentPage="activePage"></div>

</div>