<div class="message-@@messageType@@ alert alert-@@alertType@@" id="@@id@@">
    <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&#10006;</span></button>
    <p>@@message@@</p>
</div>