<nav class="notes-paginator">
    <ul class="pagination">
        <li>
            <a class="first" href="#" aria-label="First" ng-click="first($event)" ng-class="{ disabled: isFirst() }">First</a>
        </li>
        <li>
            <a class="previous" aria-label="Previous" href="#" ng-class="{ disabled: isFirst() }" ng-click="previous($event)"><span aria-hidden="true">&laquo;</span></a>
        </li>
        <li ng-repeat="page in pages track by $index">
            <a href="#" ng-class="{ 'active': page === currentPage, 'disabled': page === currentPage }" ng-click="loadPage"> {{page}}</a></li>
        <li>
            <a class="next" href="#" aria-label="Next" ng-click="next($event)" ng-class="{ disabled: isLast() }"><span aria-hidden="true">&raquo;</span></a>
        </li>
        <li>
            <a class="Last" href="#" ng-click="last($event)" ng-class="{ disabled: isLast() }">Last</a>
        </li>

    </ul>
</nav>