<div class="notes-edit-view" class="row">
    <form novalidate name="creator.form" role="form" ng-submit="creator.submit($event)">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" ng-model="creator.note.title" required/>
        </div>
        <div ng-messages="creator.form.title.$error" ng-show="creator.form.$submitted" >
            <div ng-message="required" role="alert" class="alert alert-danger">
                The title is required
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <div notes-messages class="col-xs-12"></div>
    <a ui-sref="notes.list" ui-sref-opts="{ reload: true }">Back to list</a>
</div>