<div class="notes-delete-view">
    <form novalidate name="details.deleteForm" role="form">

        <div class="checkbox">
            <label>
      <input type="checkbox" name="accept" ng-model="details.preventDelete" ng-true-value="false" ng-false-value="true" ng-required="value"/> Are you sure you want to delete this
                note?
    </label>

        </div>
        <div ng-messages="details.deleteForm.accept" ng-show="!details.deleteForm.$pristine">
            <div ng-message="$modelValue" role="alert" class="alert alert-danger">
                You need to confirm the delete action.
            </div>
        </div>
        <button type="submit" class="btn btn-default" ng-click="details.delete($event)">Submit</button>
    </form>
</div>