<div id="note-detail">
    <h2 ng-bind="details.note.getTitle()"></h2>
    <a ui-sref=".edit">Edit</a>
    <a ui-sref=".delete">Delete</a>
    <div ui-view></div>
    <div notes-messages></div>

    <a ui-sref="notes.list" ui-sref-opts="{ reload: true }">Back to list</a>
</div>