<div class="notes-edit-view" class="row">
    <form novalidate name="details.editForm" role="form" ng-submit="details.edit($event)">

        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" id="title" name="title" ng-model="details.note.title" required/>
        </div>
        <div ng-messages="details.editForm.title.$error" ng-show="details.editForm.$submitted">
            <div ng-message="required" role="alert" class="alert alert-danger">
                The title is required
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>